:root {
    --main-font: 'PT Sans Narrow', sans-serif;
    --font-color: darkgrey;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
    background-color: aliceblue;
    animation: color-transition 60s linear infinite;
}

@keyframes color-transition {
    0% {background-color: rgba(254, 255, 221, 0.5);}
    50% {background-color: #f9edf6;}
    80% {background-color: aliceblue;}
    100% {background-color: rgba(254, 255, 221, 0.5);}
}


#main {
    background-color: rgba(255,255,255,0.9);
    display: block;
    border-radius: 20px;
    border: solid;
    border-color: #f7f7f7;
    height: 480px;
    width: 400px;
    margin: 30px auto 100px auto;
    overflow: hidden;
    transition: all 1s ease-in-out;
}

/*
#main:hover {
    transform: rotateY(-180deg);
    background-color: #f7f7f7;
    border: solid;
    border-color: white;
}
*/
/*
#main:hover #icon {
    display: none;
}
#main:hover > p {
    display: none;
}
*/

#footer {
    position: float;
    text-align: center;
    width: 100%;
    left: 0;
    bottom: 5px;
}

#loc-container {
    position: relative;
    margin: auto;
    margin-top: 60px;
    display: block;
    width: 400px;
}

#getloc {
    margin-top: 30px;
    position: absolute;
    top: -23px;
    left: 90%;
}
#getloc:hover {
    cursor: pointer;
}

a:link {
    color: cornflowerblue;
    text-decoration: none;
    font-family: var(--main-font);
    font-variant-caps: all-small-caps;
}

a:visited {
    color: var(--font-color);
}

.material-icons {
    color: rgba(0, 0, 0, 0.5);
}

#loader {
    display: none;
    transform-origin: 200px 200px;
    font-size: 100px;
    transform-origin: 200px 210px;
    text-align: center;
    padding-top: 40%;
    animation-name: spin;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-timing-function: linear;
}

@keyframes spin {
    0% {color: yellow;}
    50% {color: cornflowerblue; transform: rotate(180deg)}
    80% {color: orange; transform: rotate(270deg)}
    100% {color: yellow; transform: rotate(360deg);}
}

i.current-icon {
    display: block;
    text-align: center;
    font-size: 150px;
    animation: icon-appear 3s ease-in 0s 1, bobble 3s linear 0s infinite;
}
@keyframes icon-appear {
    0% {opacity: 0;}
    50% {opacity: 0.5}
    100% {opacity: 1;}
}

@keyframes bobble {
    0% {transform: translate(0px, 0px);}
    50% {transform: translate(0px, 5px);}
    100% {transform: translate(0px, 0px);}
}

#temperature {
    text-align: center;
    padding-top: 30px;
    margin: 0px;
    font-size: 45px;
    font-family: var(--main-font);    
    color: var(--font-color);
    animation: dropdown;
    animation-timing-function: linear;
    animation-duration: 1.7s;
    animation-iteration-count: 1;
}

@keyframes dropdown {
    0% {opacity: 0; transform: translateY(-30px);}
    50% {opacity: 0.5; transform: translateY(-10px);}
    100% {opacity: 1; transform: translateY(0px);}
}
@keyframes flyup {
    0% {opacity: 0; transform: translateY(30px);}
    50% {opacity: 0.5; transform: translateY(10px);}
    100% {opacity: 1; transform: translateY(0px);}
}

#summary {
    text-align: center;
    margin: 5px;
    font-size: 23px;
    font-family: var(--main-font);    
    color: var(--font-color);
    animation: flyup;
    animation-timing-function: linear;
    animation-duration: 1.7s;
    animation-iteration-count: 1;
}

#location {
    font-size: 23px;
    font-family: var(--main-font);
    color: gray;
    font-variant-caps: all-petite-caps;
    font-size: 300%;
    text-align: center;
    animation: dropdown;
    animation-timing-function: linear;
    animation-duration: 1.7s;
    animation-iteration-count: 1;

}